<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        body { background-color: #FFFFFF; padding: 0; margin: 0;font-size: 16px}
        div {margin-left: 50px;
    font-size: 38px;
    margin-top: 30px;
        margin-left: 40px;
            font-weight: bold;
            font-family: cursive;
        }
        span{color:red}
    </style>
</head>
<body>
<div>
<div >共接收座位预定订单&nbsp;<span >{{ allcount }}</span>&nbsp;桌，就餐人数&nbsp;<span >{{ anumpeople }}</span>&nbsp;人；</div>
<div >美食地图预定&nbsp;<span >{{ mcount }}</span>&nbsp;桌，就餐人数&nbsp;<span >{{ mnumpeople }}</span>&nbsp;人；</div>
<div >其它方式预定&nbsp;<span >{{ ycount }}</span>&nbsp;桌，就餐人数&nbsp;<span >{{ yanumpeople }}</span>&nbsp;人。</div>
</div>
</body>
</html>