<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>
    function uploadImage() {
            $.ajaxFileUpload({
                cache: false,
                url: "/fm/merchant/v1/uploadimg/",
                secureuri: false,
                fileElementId: "topImage",
                dataType: "json",
                beforeSend: function () {
                },
                complete: function () {
                },
                success: function (data) {
                        alert(data);

                },
                error: function (data, status, e) {
                    alert("图片上传失败,请重新选择图片");
                }
            });
        }

</script>
</head>
<body>
<fieldset><legend>1.1.0和1.1.3JPG订单测试</legend>
<form action="/fm/merchant/v1/order/allorder/" method="post">
    jwtstr： <input type="text"  name="jwtstr" />
   restaurant_id： <input type="text"  name="restaurant_id" />
   status：  <input type="text"  name="status" />
   type:  <input type="text"  name="type" />
   pageindex: <input type="text"  name="pageindex" />
    <input type="submit" value="提交">
</form>
 </fieldset>
<fieldset><legend>1.1.4JPG订单测试</legend>
<form action="/fm/merchant/1.0/order/orderinfos" method="post">
    <input type="text"  name="id" />
    <input type="submit" value="提交">
</form>
 </fieldset>
<fieldset><legend>1.1.4JPG菜品测试</legend>
<form action="/fm/merchant/1.0/restaurant/restaurant_discount" method="post">
    <input type="text"  name="id" />
    <input type="text"  name="dish_type" />
    <input type="submit" value="提交">
</form>
 </fieldset>
<fieldset><legend>1.4JPG菜品优惠测试</legend>
<form action="/fm/merchant/1.0/restaurant/updaterestaurant" method="post">
    <input type="text"  name="id" />
    <input type="text"  name="discount" />
    <input type="text"  name="message" />
    <input type="text"  name="end_time" />
    <input type="text"  name="start_time" />
    <input type="text"  name="desc" /><br>
    <input type="text"  name="dish_id" /><br>
    <input type="text"  name="discount_price" /><br>
    <input type="submit" value="提交">
</form>
 </fieldset>
<fieldset><legend>订单详情</legend>
<form action="/fm/merchant/v1/order/dispose/" method="post">
    jwtstr：<input type="text"  name="jwtstr" />
    order_id：<input type="text"  name="order_id" />
    <input type="submit" value="提交">
</form>
 </fieldset>
<fieldset><legend>注册测试</legend>
<form action="/usercenter/v1/register/" method="post">
    password：<input type="text"  name="password" />
    phone：<input type="text"  name="phone" />
    <input type="submit" value="提交">
</form>
 </fieldset>
<fieldset><legend>图片上传测试</legend>
<form action="/fm/merchant/v1/uploadimg/" method="post" enctype="multipart/form-data">
    <input name="topImage" id="topImage" type="file" />
    <input type="submit" value="提交">
</form>
 </fieldset>

<fieldset><legend>jwtmd5生成</legend>
<form action="/fm/merchant/v1/getmd5/" method="post" enctype="multipart/form-data">
     baoming：<input type="text"  name="baoming" />
     ident：<input type="text"  name="ident" />
    <input type="submit" value="提交">
</form>
</fieldset>
</body>
</html>



