<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
{#        $("#sub1").click(function(){#}
{#                $.post("/foodmap/merchant/api/v1.0/tasks",{"title":"Read a book"},function(result){#}
{#                    $(".con1").html(result);#}
{#                });#}
{#        });#}

    </script>
</head>
<body>
<form action="/foodmap/merchant/api/v1.0/tasks1" method="post">
<input type="text" name="a" value=""><br>
    <input id="sub1" type="submit" value="提交">
<div id="con"></div>
    </form>
</body>
</html>